@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[role="button"] {
  cursor: pointer;
}
body {
  margin: 0;
  padding-top: 45px;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
/*********  FOR NAVBAR   **********/

.home__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 2px solid #f0f0f0;
  padding: 15px 0px;
  background-color: white;
}

.home__navbar div:first-child h3 {
  font-family: "Great Vibes", cursive;
  font-size: 25px;
  line-height: 10px;
}

.home__navbar div:first-child p {
  font-size: 10px;
  text-align: end;
}

.home__navbar div:nth-child(2) ul {
  display: flex;
  gap: 1.6rem;
}

.home__navbar div:nth-child(2) ul li {
  list-style-type: none;
}
.home__navbar div:nth-child(2) ul li a {
  color: rgb(98, 98, 98);
  text-decoration: none;
  font-size: 14px;
}
.home__navbar div:nth-child(3) form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #f0f0f0;
  padding: 2px 10px;
  height: 2.3rem;
  width: 200px;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in;
}
.home__navbar div:nth-child(3) form input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  caret-color: #8a33fd;
  width: 100%;
}

.home__navbar div:nth-child(3) form:focus-within {
  background-color: rgb(231, 231, 231);
  width: 250px;
}

.home__navbar div:last-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home__navbar div:last-child button {
  border: none;
  background-color: #f0f0f0;
  padding: 0.5rem;
  display: flex;
  border-radius: 0.5rem;

  align-items: center;
  position: relative;
}

.home__carts span {
  background-color: gainsboro;
  color: red;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 1.5rem;
  padding: 0.1rem 0.25rem;
  border-radius: 50%;
}

/******** Main Section **********/
.swiper-container {
  overflow: hidden;
  width: 100%;
  height: 520px;
  position: relative;
}

/* Make sure each slide takes the full height and width */
.swiper-slide {
  width: 100%;
  height: 100vh;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: gainsboro;
}

.swiper-pagination-bullet[aria-label="Go to slide 1"],
.swiper-pagination-bullet[aria-label="Go to slide 2"] {
  width: 2.5rem;
  border-radius: 0.3rem;
  background-color: gainsboro;
  margin: 0px;
  padding: 0px;
}

/* Target the first slide and its duplicate */
.swiper-slide[data-swiper-slide-index="0"],
.swiper-slide[data-swiper-slide-index="1"] {
  background-image: url("/images/slideImg.jpeg");
  height: 100%;
  background-size: 100% 100%;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.swiper__titles {
  position: absolute;
  left: 10%;
  top: 20%;
}

.swiper__titles span {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}

.swiper__titles div {
  margin-top: 1rem;
  line-height: 70px;
}
.swiper__titles div > h1 {
  color: #ffffff;
  font-size: 4rem;
}
.swiper__titles p {
  margin-top: 1rem;
  font-weight: 700;
  color: #ffffff;
}
.shop__btn {
  margin-top: 1.5rem;
}
.shop__btn button {
  padding: 9px 25px;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in;
}
.shop__btn button:hover {
  background-color: transparent;
  color: #ffffff;
  /* border: 1px solid #ffffff; */
}

/****** SECTION TWO  *******/
.section__two {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 4rem;
  min-height: 55vh;
}

.low__price,
.beyoung__present {
  box-shadow: 00 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 0.4rem;
  padding: 1rem;
  position: relative;

  color: #fff;
}
.low__price > div,
.beyoung__present > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.beyoung__present {
  background-image: url("images/image3.jpeg");
}
.low__price {
  background-image: url("/images/image2.jpeg");
}

.low__price span,
.beyoung__present span {
  font-size: 14px;
  font-weight: 600;
}
.low__price p,
.beyoung__present p {
  font-size: 11px;
  font-weight: 600;
  margin: 0.3rem 0rem 0.9rem;
}
.low__price h2,
.beyoung__present h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0.6rem;
}
.low__price h6,
.beyoung__present h6 {
  border-bottom: 1px solid gainsboro;
  display: inline-block;
}

/* ///////////////// */

/* Styles for the new gallery Slider */
.gallery-container {
  max-width: 1185px;
  padding: 20px;
  margin: 0 auto;
  position: relative;

  overflow: hidden;
  padding-right: 10rem;
}

.gallery-wrapper {
  display: flex;
  gap: 0.8rem;
}

.gallery-slide {
  width: 200px !important;
  height: 200px;
}

.gallery-slide img {
  width: 170px;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
}
.gallery-slide p {
  font-size: 12px;
}

/* Navigation buttons */
.gallery-prev,
.gallery-next {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #222;
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  z-index: 10;
  transition: all 0.3s ease-in;
}
.gallery-prev:hover,
.gallery-next:hover {
  background-color: gainsboro;
}
.gallery-prev:after,
.gallery-next:after {
  font-size: 18px;
}

.gallery-prev {
  left: 10px;
}

.gallery-next {
  right: 10px;
}

/**** Media Query ****/
@media screen and (max-width: 850px) {
  .home__navbar div:nth-child(2) ul {
    display: none;
    gap: 0rem;
  }
}
@media screen and (max-width: 750px) {
  .swiper__titles div > h1 {
    font-size: 3rem;
  }
  .swiper__titles div {
    line-height: 50px;
  }

  .swiper-slide[data-swiper-slide-index="0"],
  .swiper-slide[data-swiper-slide-index="1"] {
    background-size: cover;
    height: 100%;
    /* background-size: cover; */
  }
}
@media screen and (max-width: 580px) {
  .home__navbar div:nth-child(3) form {
    background-color: transparent;
    width: 3rem;
  }

  .home__navbar div:nth-child(3) form input {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .swiper__titles div > h1 {
    font-size: 2.3rem;
  }
  .swiper__titles div {
    line-height: 40px;
  }

  .swiper__titles span {
    font-weight: 700;
    font-size: 1rem;
  }

  .swiper__titles p {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1rem;
  }

  .swiper__titles {
    position: absolute;
    left: 20%;
    top: 10%;
  }

  .swiper__titles div > h1 {
    font-size: 2.7rem;
  }

  .swiper__titles div {
    line-height: 60px;
  }

  .swiper-container {
    height: 420px;
  }

  .home__navbar div:nth-child(3) form label svg {
    font-size: 1.5rem;
  }
}
/* @media screen and (max-width: 400px) {
  .swiper__titles div > h1 {
    font-size: 1.8rem;
  }
} */

/**** Skeleton Sliders ****/

.skeleton__image {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}

/* Animation stops when image is loaded */
.skeleton__image:has(img)::before {
  display: none;
}

.skeleton__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.6) 50%,
    transparent 100%
  ); */

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  animation: loading 1.5s infinite;
  z-index: 1;
}

.skeleton__text {
  position: relative;
  overflow: hidden;
  padding: 8px;
  color: #333;
  background-color: #f5f5f5;
  margin-top: 10px;
}

/* Animation stops when text content exists */
.skeleton__text:not(:empty)::before {
  display: none;
}

.skeleton__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  animation: loading 1.5s linear;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* @keyframes loading {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
} */

/* .gallery-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
} */
